@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; }
html, body { width: 100%; }
body { font: normal 12px/1.5em "Pretendard"; min-width: 400px; max-width: 720px; position: relative; }
a { text-decoration: none; color: inherit; }
ul, li { list-style: none; }

:root {
    --swiper-theme-color: #D2C4B7;
}

/* wrap */
#wrap { width: 100%; min-width: 320px; }

/* top_wrap */
#top_wrap { width: 100%; padding: 21px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; position: absolute; z-index: 99; background-color: #f3d0d7; }
#top_wrap ul { display: flex; }
#top_wrap ul li { margin: 0 7px; }
#top_wrap h1 { width: 30%; position: absolute; left: 50%; transform: translateX(-50%); }
#top_wrap h1 img { width: 100%; vertical-align: top; display: flex; }
.icon1 { font-size: 150%; top: 35%; left: 88%; }
#top_wrap input { width: 28%; border: none; float: left; margin: -1% 0 0 52.5%; /* 상우하좌 */ border-radius: 50px; text-indent: 1.5em; padding: 8px; font-weight: bold; position: absolute; left: 9.8%; }
.search { display: flex; font-size: 16px; margin-left: -14px; position: absolute; }
.search_btn { font-size: 10px; position: fixed; }

/* banner */
.swiper1 { width: 100%; position: relative;  z-index: 1; padding-top: 60px; margin-bottom: 5px; overflow: hidden; }
.swiper1 img { width: 100%; }
.slide1 { width: 100%; text-align: center; font-size: 18px; background: #fff; }
.pagination1 { position: relative; z-index: 2; text-align: center; width: 20%; height: 10%; position: absolute; bottom: 0; left: 40%; }

/* menu */
#menu { width: 100%; padding-top: 10px; border-top: 4px solid #F0EBE3; display: flex; border-bottom: 4px solid #F0EBE3; }
#menu ul li { width: 20%; float: left; text-align: center; margin: 10px; margin-left: 14px; }
#menu ul li img { width: 50%; padding: 5px; }
#menu ul li p { color: #666; font-size: 12px; display: flex; justify-content: space-around; padding: 5px; font-weight: bold; }
#menu ul li p:hover { opacity: 0.5; }
#menu ul li a:hover { opacity: 0.5; }

/* video */
#video { padding-top: 5px; }
#video iframe { width: 100%; box-sizing: border-box; border: none; }

/* menu_wrap */
#menu_wrap { width: 100%; height: 100%; padding: 12px; box-sizing: border-box; left: 0; top: -100%; z-index: 999; position: fixed; background-color: #f3d0d7; }
.menu_inner { width: 100%; height: 100%; padding: 12px; box-sizing: border-box; border-radius: 0 100px 0 0; background-color: #fff; }
.x_icon { font-size: 18px; position: absolute; top: 15px; right: 15px; color: #666; } 

/* quick_menu */
#quick_menu1 { display: flex; justify-content: space-around; margin-right: 30px; }
#quick_menu1 li { display: block; background-color: #F0EBE3; border-radius: 100%; padding: 10px; }
#quick_menu1 li p { width: 52px; padding: 10px; float: left; font-size: 10px; text-align: center; }
.icon2 { line-height: 2.5em; display: flex; justify-content: space-around; font-size: 13px; }
#quick_menu1 li a:hover { opacity: 0.5; }

#quick_menu2 { width: 100%; margin-top: 20px; display: flex; padding-top: 10px; text-align: center; }
#quick_menu2 li { width: 100%; margin-top: -10px; text-align: center; border: 1px solid #E7CCCC; box-sizing: border-box; }
#quick_menu2 li a { font-size: 12px; color: #222; display: block; text-align: center; padding: 8px; } /* 기본 디자인 */
#quick_menu2 li .selected { font-size: 13px; background-color: #E7CCCC; font-weight: bold; padding: 8px; color: #fff; } /* 선택디자인 */

/* gnb */
#gnb ul li { margin-bottom: 10px; margin-left: 20px; }
#gnb ul li a { font-size: 14.5px; font-weight: bold; color: #666; line-height: 1.9em; } /* 1단 → 1,2단 적용 */
#gnb ul li:first-child { margin-top: 15px; }
#gnb ul li .icon3 { font-size: 11px; color: #999; float: right; margin-right: 20px; }
#gnb ul li ul li a { font-weight: normal; font-size: 13px; color: #999; } /* 2단 */
#gnb .submenu { display: none; margin-top: -8px; margin-bottom: 10px; }
#gnb .submenu li { text-indent: 1em; }
#gnb .submenu li:hover { text-decoration: underline; color: #999; }
.gnb_point { padding-bottom: 15px; }

/* menu_area */
#menu_area { border-top: 1px solid #666; }
.icon4 { float: left; font-size: 15px; line-height: 2em; margin: 0 15px 0 15px; /* 상우하좌 */ }
.call, .time { font-size: 12px; margin-top: 20px; }
.call:first-child { margin-top: 30px; }
.call span, .time span { font-weight: bold; margin-right: 5px; color: #222; }

/* menu_title → 부제목 CSS */
.menu_title { width: 96%; margin: 0 auto; }
.icon6 { margin-right: 10px; margin-left: 10px; }
.menu_title h2 { font-size: 15px; text-align: center; color: #222; margin: 18px 0; }
.menu_title h2::before { content: ""; /* 공백 */ display: block; /* 공백 인식 해주는 코드 */ width: 80px; height: 2px; background-color: #ccc; margin: 0 auto 20px; }

/* pdt_list1 */
.pdt_list1 { width: 100%; display: grid; grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); grid-gap: 1rem; }
.pdt_list1 figure:hover { opacity: 0.5; }
.pdt_list1 .pdt_img { width: 100%; }
.pdt_list1 span { display: block; text-align: center; line-height: 1.5em; text-align: left; }

/* title, txt1,2,3 */
.title, .txt1, .txt2, .txt3 { font-size: 11.5px; display: flex; color: #222; }
.title { font-weight: normal; letter-spacing: -0.5px; }
.txt1 { color: #f00; font-weight: bold; }
.txt2 { font-weight: bold; }
.txt3 { font-size: 10.5px; }

/* pdt_list2 */
.pdt_list2 { width: 100%; display: grid; grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); grid-gap: 1rem; }
.pdt_list2 figure:hover { opacity: 0.5; }
.pdt_list2 .pdt_img { width: 100%; }
.pdt_list2 span { display: block; text-align: center; line-height: 1.5em; text-align: left; }

/* page1 */
#page1 { height: auto; min-height: 100px; }
.page1_con_wrap { line-height: 2em; }
.page1_theme { margin-bottom: 10px; }
.page1_btn { background-color: #E7CCCC; display: block; width: 100px; height: 30px; line-height: 30px; margin: 10px 0 20px; font-weight: normal; color: #fff; font-size: 12px; text-align: center; box-sizing: border-box; }
.page1_btn i { margin-left: 10px; }
.page1_btn:hover { opacity: 0.5; }
.page1_list_wrap { width: 100%; overflow-x: auto; border: 2px solid #e7cccc; box-sizing: border-box; }
.page1_list_inner { width: 600%; } /* 100%, 스크롤 or 정리 */
.page1_list_inner li { width: 7.3%; overflow: hidden; float: left; margin: 1% 0.5%; box-sizing: border-box; }
.img_up { float: left; }
.page1_list_inner li a { display: block; position: relative; /* 기준 */ }
.page1_list_inner li a img { width: 100%; }
.page1_txt span { margin-left: 7px; }
.point_title { width: 60%; height: 30px; min-width: 320px; margin-bottom: 20px; position: relative; /* 기준 */ }
.point_bg { display: block; width: 100%; height: 20px; background-color: #e7cccc; position: absolute; bottom: 0; }
.point { font-size: 18px; position: absolute; }
.txt4 { float: left; font-size: 15px; background-color: #666; color: #fff; width: 30px; height: 30px; padding: 2px; text-align: center; position: absolute; left: 0; top: 0; }

/* top_btn */
.top_btn { padding: 2px; text-align: center; }

/* makeup-look */
#makeup_book { clear: both; overflow: hidden; }
#makeup_book h2 { padding: 5px; }
#makeup_book .text { padding: 18px 10px 10px; }
.swiper2 { width: 180%; height: 100%; margin-top: 10px; }
.slide2_wrap { margin-left: -38%; }
.slide2 { text-align: center; font-size: 18px; background: #fff; width: 100%; }
.list { display: block; width: 100%; height: 100%; padding: 3px;}
.heart { position: absolute; width: 25px; height: 25px; color: #F3D0D7; background-color: #fff; border-radius: 100px; line-height: 1.7em; font-size: 15px; }
.heart:first-child { left: 15px; bottom: 15px; }
.heart1 { position: absolute; width: 25px; height: 25px; color: #F3D0D7; background-color: #fff; border-radius: 100px; line-height: 1.5em; opacity: 0; font-size: 15px; }
.heart1:first-child { left: 15px; bottom: 15px; }
.heart1:hover { opacity: 1; }
.plus { line-height: 290px; font-size: 15px; color: #222;  }
.plus_icon { vertical-align: middle; }

/* bottom_wrap */
#bottom_wrap { overflow: hidden; width: 95%; height: 400%; background-color: #F0EBE3; padding: 2.5%; }
.footer p { border-bottom: 1px solid #666; padding: 0 0 2% 0; }
.footer p strong { margin-right: 5%; }

/* fnb */
.fnb { font-size: 85%; margin-top: 3%; overflow: hidden; width: 100%; overflow: hidden; }
.fnb li { float: left; margin-right: 2%; border-right: 1px solid #666; padding: 0 3% 0 0; /* 상우하좌 */ }
.fnb li:hover { text-decoration: underline; }
.fnb li:last-child { border-right: none; }
.fnb1 { float: left; }
.fnb1 li { margin: 5% 0 5% 0; }
.fnb1 li img { float: left; width: 50%; padding: 0%; margin: 10% 0 10% 0; }

/* bot_area */
.bot_area { margin: 5px 0; float: left; line-height: 2em; font-size: 11.5px; font-weight: normal; overflow: hidden; }
.bot_area span { margin: 0 0 0 7%; }
.bot_area { float: left; width: 100%; }
.bot_title { float: left; margin: 0 13% 0 0; }
.bot_area li:first-child { margin-left: 2px; }
.bot_time { width: 100%; height: 5%; padding: 0; margin: 0; display: flex; }
.bot_sns { margin: 2% 0 2% 0; display: flex; }
.sns_img { float: left; }
.sns_img img { width: 10%; height: 60%; float: left; margin: 3% 3% 0 0; /* 상우하좌 */ }
.sns_img p { display: flex; margin-right: 5px; }
.sns_img span { text-decoration: underline; margin-left: 5px; }
.sns_img span:hover { opacity: 0.5; color: #E84672; }
.copyright { float: left; display: flex; margin: 0 0 0 0; }

/* top_btn */
.top_btn { position: fixed; right: 10px; bottom: 10px; transition: all 0.5s; background-color: #f3d0d7; color: #fff; width: 25px; height: 25px; line-height: 1.2em; border-radius: 100px; font-size: 20px; overflow: hidden; }
.top_btn:hover { opacity: 0.5; transform: rotate(360deg); }

/* bottom */
#bottom { width: 100%; height: 70px; background-color: #F3D0D7; position: fixed; bottom: 0; z-index: 99999; }
#bottom ul li { float: left; height: 70px; text-align: center; display: flex; justify-content: center; align-items: center; color: #fff; }
#bottom ul li.btn_l { width: 21%; }
#bottom ul li.btn_m { width: 18%; }
#bottom ul li.btn_s { width: 18%; }
#bottom ul li:first-child { margin-left: 19px; }
#bottom ul li img { width: 18px; height: 20px; }
#bottom ul li a { display: block; }
#bottom ul li a:hover { opacity: 0.5; }